.blogs {
  .box-container {
    @include grid(30rem);
    .box {
      border-radius: 1rem;
      background: $bg-color;
      overflow: hidden;
      &:hover {
        .images img {
          transform: scale(1.1);
        }
      }
      .images {
        height: 25rem;
        overflow: hidden;
        width: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .content {
        padding: 2rem;
        .link {
          font-size: 2rem;
          color: $white;
          &:hover {
            color: $blue;
          }
        }
        p {
          padding: 1rem 0;
          font-size: 1.4rem;
          color: $light-color;
          line-height: 2;
        }
        .icon {
          padding-top: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          a {
            font-size: 1.4rem;
            color: $light-color;
            &:hover {
              color: $blue;
            }
            i {
              padding-right: 0.5rem;
              color: $blue;
            }
          }
        }
      }
    }
  }
}
